body {
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
}

.flex-container-column {
  flex-direction: column;
  align-items: center;
}

.flex-container {
  flex: 1 1 auto;
  display: flex;
  width: auto;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
}

.flex-container .right-item {
  margin-right: 90px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.flex-container .right-item:hover {
  text-decoration: underline;
}

.flex-container h2 {
  color: black;
  width: 100%;
  font-size: 24px;
  padding-left: 10px;
}

.flex-container h3 {
  color: black;
  width: 100%;
  font-size: 32px;
  margin-right: 250px;
  
}

.flex-container-column p {
  margin-top: -30px;
}

.img-header {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

.header {
  background-color: #bfbfbf;
}

.sign-up {
  background-color: rgb(67, 133, 173);
  color: white;
  border: solid white 1px;
  font-family: 'Courier New', Courier, monospace;
  padding: 7px 15px;
}

.sign-up:hover {
  background-color: rgb(17, 65, 95);
}

.flex-medium-container {
  height: 140px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.recipe-img {
  border-radius: 25px;
  border: 2px solid black;
  box-shadow: 1px 1px;
}

.center-text {
  text-align: center;
}

.bg-grey {
  background: #f2f2f2;
  padding-top: 90px;
  padding-bottom: 40px;
  margin-top: 50px;
}

.quote {
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
  font-size: larger;
}

.author {
  text-align: right;
  padding-right: 300px;
  padding-top: 25px;
  font: italic small-caps bold 18px/30px Georgia, serif;
}

.call-action {
  background-color: rgb(67, 133, 173);
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 65px;
  margin-top: 65px;
  border-radius: 7px;
  padding-right: 50px;
}

footer {
  background-color: #bfbfbf;
  padding: 30px;
  text-align: center;
}